# fly.toml app configuration file generated for tailnet-mullvad-socks-router on 2025-12-01T15:43:46-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tailnet-mullvad-socks-router'
primary_region = 'lax'

[build]
  image = 'docker.io/heywoodlh/tailscale-mullvad-router:1.76.1'

[[mounts]]
  source = 'tailscale'
  destination = '/var/lib/tailscale'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
